Source: budgie-desktop-environment
Section: gnome
Priority: optional
Maintainer: fossfreedom <foss.freedom@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/budgie-remix
Vcs-Browser: https://github.com/budgie-remix/budgie-desktop-environment

Package: budgie-desktop-environment
Architecture: all
Section: metapackages
Depends: budgie-desktop,
 budgie-remix-lightdm-theme,
 chromium-browser,
 gnome-software,
 nautilus,
 gnome-terminal,
 gedit,
 hplip,
 file-roller,
 gnote,
 eog,
 evince,
 gnome-calculator,
 simple-scan,
 gnome-orca,
 gnome-screenshot,
 gnome-sushi,
 gnome-photos,
 gnome-disk-writer,
 totem,
 app-install-data,
 rhythmbox,
 rhythmbox-plugin-alternative-toolbar,
 rhythmbox-plugin-tray-icon,
 dmz-cursor-theme,
 apport-gtk
 ${misc:Depends}
Description: Budgie desktop environment
 Meta-package installs budgie-remix packages
