Source: budgie-desktop-environment
Section: x11
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/budgie-remix
Vcs-Git: http://github.com/budgie-remix/budgie-remix-lightdm-theme.git
Vcs-Browser: http://github.com/budgie-remix/budgie-remix-lightdm-theme

Package: budgie-desktop-environment
Architecture: all
Section: metapackages
Depends: budgie-desktop,
 budgie-desktop-common,
 budgie-lightdm-theme,
 dmz-cursor-theme,
 xdg-user-dirs-gtk,
 plymouth-theme-ubuntu-budgie-logo,
 plymouth-theme-ubuntu-budgie-text,
 plymouth-themes,
 ${misc:Depends}
Recommends:
 arc-theme,
 moka-icon-theme,
 gnome-software,
 nautilus,
 gnome-terminal,
 gedit,
 hplip,
 file-roller,
 eog,
 evince,
 gnome-calculator,
 gnome-calendar,
 simple-scan,
 gnome-orca,
 gnome-screenshot,
 gnome-sushi,
 gnome-photos,
 gnome-disk-utility,
 gnome-sudoku,
 gnome-mines,
 gnome-mahjongg,
 geary,
 aisleriot,
 app-install-data,
 rhythmbox,
 rhythmbox-plugin-alternative-toolbar,
 menulibre,
 totem,
 transmission,
 libreoffice,
 libreoffice-style-breeze,
 apport-gtk,
 tlp,
 thermald,
 nano,
 snapd,
 gnome-system-monitor,
 policykit-desktop-privileges,
 nautilus-share,
 ppa-purge,
 gvfs-fuse,
 ibus-pinyin,
 ibus-table,
 laptop-detect,
 acpi-support,
 bash-completion
Description: Desktop environment for budgie-remix
 Installs all budgie-remix packages, both essential dependencies
 as well as recommended packages and applications.
 
Package: budgie-desktop-common
Architecture: all
Section: misc
Depends: ${misc:Depends}
Description: Common budgie desktop components
 budgie-desktop common components i.e.
 gsettings overrides
 budgie-remix panel configuration
 make QT apps look like GTK apps
