Source: budgie-desktop-environment
Section: gnome
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/budgie-remix
Vcs-Browser: https://github.com/budgie-remix/budgie-desktop-environment

Package: budgie-desktop-environment
Architecture: all
Section: metapackages
Depends: budgie-desktop,
 budgie-desktop-common,
 budgie-remix-lightdm-theme,
 dmz-cursor-theme,
 xdg-user-dirs-gtk,
 ${misc:Depends}
Recommends:
 arc-firefox-theme,
 arc-theme,
 moka-icon-theme,
 vertex-theme,
 gnome-software,
 nautilus,
 gnome-terminal,
 gedit,
 hplip,
 file-roller,
 eog,
 evince,
 gnome-calculator,
 gnome-calendar,
 simple-scan,
 gnome-orca,
 gnome-screenshot,
 gnome-sushi,
 gnome-photos,
 gthumb,
 gnome-disk-utility,
 totem,
 gnome-sudoku,
 gnome-mines,
 gnome-mahjongg,
 aisleriot,
 app-install-data,
 rhythmbox,
 rhythmbox-plugin-alternative-toolbar,
 rhythmbox-plugin-tray-icon,
 menulibre,
 transmission,
 libreoffice,
 libreoffice-style-sifr,
 apport-gtk,
 tlp,
 budgie-plank,
 nano,
 snapd,
 budgie-welcome,
 gnome-system-monitor,
 policykit-desktop-privileges,
 nautilus-share,
 ppa-purge,
 gvfs-fuse,
 ibus-pinyin,
 ibus-table,
 laptop-detect,
 acpi-support
Description: Budgie desktop environment
 Meta-package installs budgie-remix packages
